body {
  font-family: 'Montserrat';
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: black;
}
/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image-container {
  position: relative;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  right: 10%;
  position: absolute;
}

.btn {
  margin: 5% 1%;
}

.navbar {
  padding: 5% 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2rem;
}

.nav-link {
  margin: 0.5rem;
}

/* Features Section */
#features {
  position: relative;
  margin-bottom: 20px;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.features-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
/* Press Section */
#press {
  background-color: #ef8172;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* footer section */
.footer-icon {
  padding: 0 1% 2%;
}

/* Media Query */
@media (max-width: 1000px) {
  .row {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
